<html>
<head>
<link href="../templates/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="signup">
<form>
<table>
<tr>
<td><label for="username">username:</label></td>
<td><input type="input" name="username"/></td>
</tr>
<tr>
<td><label for="email">email:</label></td>
<td><input type="input" name="email"/></td>
</tr>
<tr>
<td><label for="password">password:</label></td>
<td><input type="password" name="password"/></td>
</tr>
<tr>
<td><label for="confirm_password">confirm password:</label></td>
<td><input type="password" name="confirm_password"/></td>
</tr>
<tr>
<td class=setRight colspan="2"><input type="submit" name="submit" value="Sign up"/>
<td></td>
</tr>
</table>
</form>
</div>
</body>
</html>