<html>
<head>
<link href="../templates/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body class=listBg>
<div id="main">
<h4></h4>
<ul class=list>

<li><label for="content">³ÂחשÃח£÷</label><textarea  name="content"></textarea><span class=date>2013-2-26</span></li>
<li><label for="content">³ÂחשÃח£÷</label><textarea  name="content"></textarea><span class=date>2013-2-26</span></li>
<li><label for="content">³ÂחשÃח£÷</label><textarea  name="content"></textarea><span class=date>2013-2-26</span></li>
<li><label for="content">³ÂחשÃח£÷</label><textarea  name="content"></textarea><span class=date>2013-2-26</span></li>
<li><label for="content">³ÂחשÃח£÷</label><textarea  name="content"></textarea><span class=date>2013-2-26</span></li>

</ul>
<span id="date"></span>
</div>
</body>
</html>

